.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about {
  justify-content: center;
  display:flex;
  background-color:rgb(84, 75, 75);
  align-items: center;

}

h3 {
  font-size: 9vw;
}

.tune {
  padding-top: 1vw;
}

p {
  font-size: 2vw;
}

p.pink, h3.pink {
  color: #F4DCE8;
}


/*Shrinking for mobile*/
@media (max-width: 768px) {
  .mobile-center {
    display: block;
    margin-left: 5%;
    margin-right: auto;
  }

  .mobilePlaylist {
    width: 75%;
  }

  p.pink {
    font-size: 
  }

}

h1, h3, p {
  color:rgb(84, 75, 75)
}

h1 {
  font-size:24px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Karla', sans-serif;
}

.container-m {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:20px;
}

.row {
  justify-content: center;
}

.card {
  background-color: #fff;
  padding: 15px;
  border: none;
  height: 250px;
  margin-top: 10px
}

.u-color {
  color: blue
}

.user-image img {
  border: 3px solid #00f;
  padding: 2px
}
