.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/*Shrinking for mobile*/
@media (max-width: 768px) {
  .mobile-center {
    display: block;
    margin-left: 5%;
    margin-right: auto;
  }

  .mobilePlaylist {
    width: 75%;
  }

/* text formatting */
.about {
  justify-content: center;
}


}

h1, h3, p {
  color:rgb(84, 75, 75)
}

h1 {
  font-size:24px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Karla', sans-serif;
}
